*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;  
    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
}
main{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-top: 2rem;
    font-family: cursive;
    font-size: 4rem;
    color: rgb(139, 38, 212);
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 255, 255);
}
.game-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.box{
    height: 10rem;
    width: 10rem;
    border: none;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.122);
    font-family: cursive;
    font-size: 5rem;
    color: rgb(83, 9, 193);
    text-shadow: 0.15rem 0.15rem 0.1rem rgba(68, 28, 108, 0.464);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-btn{
    height: 3rem;
    width: 9rem;
    text-align: center;
    border-radius: 2rem;
    font-size: 2rem;
    color: rgb(139, 38, 212);
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(50, 13, 77, 0.884);
    box-shadow: inset 0 0 0.3rem #31084f;
    background-color: #451865;
}
/* .win-msg-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2rem;
    background-color: #180b2197;
} */
.win-msg-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    gap: 2rem;
    background-color: #180b21d7;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}
.win-msg-container.active {
    visibility: visible;
    opacity: 1;
}
#win-msg{
    margin-top: 16rem;
    font-size: 6rem;
    font-weight: 500;
    font-family: cursive;
}
#new-game-btn{
    border: none;
    height: 5.5rem;
    width: 16rem;
    border-radius: 3rem;
    color: aliceblue;
    background-color: rgb(104, 43, 196);
    font-family: cursive;
    font-weight: 600;
    font-size: 1.5rem;
}
